@charset "UTF-8";

html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header{
    height: 100px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    z-index: 2;
}

/* lista geral */

header>:first-child{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:  space-around;
}


header>:first-child>li{
    height: 100%;
    width: 50%;

    display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:  space-around;
}


/* titulo e logo */


header>:first-child>:first-child{
    height: 100%;
    width: 100%;

    display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:  space-around;
}

#logo{
    height: 50px;
    width: 50px;

    background: url(../imgs/logo\ 1.png) no-repeat center center;
    background-size: cover;
}


/* lista de itens central */


header>:first-child>:nth-child(2)>:first-child{
    height: 100%;
    width: 100%;

    display: flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:  space-around;
}

li{
    list-style-type: none;
}


/* botao curriculo */


#curriculo_menu{
    height: 50px;
    width: 150px;

    display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:  center;

    transition: .5s;

    background-color: black;
}

header>:first-child>:last-child>:first-child:active{
    animation: curriculo 5s linear infinite alternate;
}

header>:first-child>:last-child>:first-child>:first-child{
    color: white;
    text-decoration: none;
    
    font-size: 1rem;
}

#dowload{
    height: 10px;
    width: 10px;

    margin: 3px;

    background-color: aliceblue;
    animation: curriculo 5s linear infinite;
}

@keyframes curriculo {
    0%,100%{
        
    }
    50%{
        transform: rotateZ(1000deg);
        border-radius: 50%;
    }
}


/* main settings and section */


main{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#soc_midia{
    position: fixed;
    top: 15%;
    left: 0%;

    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s;
    
    background-color: black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#midia_link{
    height: 40px;
    width: 40px;

    opacity: 0;

    margin: 0 10px;

    background-size: cover;

    border-radius: 10px;
} 

#soc_midia:hover{
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} #soc_midia:hover>a>#midia_link{
    opacity: 1;
    transition: 2s;
} #midia_link:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 50px white;
    transition: .3s;
}


/* all section settings */

main>section{
    height: 300px;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;

    margin: 150px 0;
}


/* first section text */

#sec_me{
    height: 400px;
    width: 90%;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;

    margin: 150px 0;
}

#sec_me.content{
    height: 250px;
    width: 80%;

    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 30px;
}

#title_page1{
    color: black;
    font-weight: 100;

    font-size: 3rem;

}

#title_page1>:last-child{
    color: green;
    font-weight: 900;
}

#text_page1{
    font-size: 1.5em;
}

/* banner */

#ban_dad{
    position: relative;
    top: -50%;
    left: 0%;

    height: 500px;
    width: 100%;

    display: flex;
    align-items: baseline;
}

#banner{
    height: 100%;
    width: 100%;

    z-index: -1;

    opacity: 0.8;

    background: no-repeat center center;
    background-size: cover;
}

/* section 2 */

#sec_skills{
    height: 600px;
    width: 90%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 150px 0;
}

#sec_skills>:first-child{
    font-size: 3rem;
}

#sec_skills>.content{
    height: 100%;
    width: 100%;

    margin: 50px 0;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.content>section{
    width: 100%;

    margin-top: 50px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.hab{
    height: 200px;
    width: 150px;

    padding: 10px;
    margin: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    border: solid black;
    border-radius: 10px;

    transition: .5s;
}

.hab>.img{
    height: 70%;
    width: 100%;
}

#sec_skills>.content>:nth-child(1)>:nth-child(1)>.img{
    background: url(../imgs/logo-html5.svg) no-repeat center center;
    background-size: cover;
}
#sec_skills>.content>:nth-child(1)>:nth-child(2)>.img{
    background: url(../imgs/logo-css3.svg) no-repeat center center;
    background-size: cover;
}
#sec_skills>.content>:nth-child(1)>:nth-child(3)>.img{
    background: url(../imgs/python-fill-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}
#sec_skills>.content>:nth-child(2)>:nth-child(1)>.img{
    background: url(../imgs/js-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}
#sec_skills>.content>:nth-child(2)>:nth-child(2)>.img{
    background: url(../imgs/ai-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}
#sec_skills>.content>:nth-child(2)>:nth-child(3)>.img{
    background: url(../imgs/crab-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}

/* third section experience */

#my_exp{
    height: auto;
    padding: 50px 10px;

    color: white;

    display: flex;
    align-items: center;

    margin: 150px 0 0 0;

    background-color: black;
}

/* text settings all */

.title_page3{
    margin: 50px 0;
} .title_page3>h1{
    color: rgb(194, 194, 194);
    font-size: 3em;
    font-weight: 100;
} .title_page3>h1>strong{
    color: white;
    font-weight: 900;
}

#my_exp>.card{
    height: 100px;
    width: 80%;

    padding: 10px;

    display: flex;
    flex-flow: column nowrap;

    margin: 10px 0;

    transition: all .5s, opacity 1s;

    border: 2px solid rgba(255, 255, 255, 0.733);
    border-radius: 5px;
}

#my_exp>.card:hover{
    height: 200px;
    background-color: rgba(255, 255, 255, 0.514);
}
#my_exp>.card:hover>.text_page3{
    display: block;
    opacity: 1;
}

#my_exp>.card>section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 10px;
}

#my_exp>.card>section>.icon{
    height: 50px;
    width: 50px;

    margin-right: 10px;

    background-color: aliceblue;
}

#my_exp>:nth-child(2)>section>.icon{
    background: url(../imgs/waiter-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}

#my_exp>:nth-child(3)>section>.icon{
    background: url(../imgs/cashier-machine-cashier-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
}

.text_page3{
    display: none;
    opacity: 0;
}

/* About me section settings */

#about_me{
    height: 500px;

    margin: 100px 0;
}

#about_me>.content{
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: center;
}

#about_me>.content>#image_border{
    height: 300px;
    width: 300px;

    margin-right: 50px;

    transition: .5s;
}

#about_me>.content>#image_border>#image{
    height: 300px;
    width: 300px;

    position: relative;
    top: 0%;

    background: url(../imgs/Group\ 1000015845.png) no-repeat center center;
    background-size: cover;

    border-top: 2px solid black;

    transition: .5s;
}

#text_page4{
    height: 100%;
    width: 40%;

    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-around;

    transition: .5s;
} #text_page4>h1{
    font-size: 2em;
    transition: .5s;
} #text_page4>p{
    font-weight: 100;
    color: rgba(0, 0, 0, 0.651);
    transition: .5s;
}


/* section my projects */

#sec_mpro{
    height: auto;
    padding: 50px 20px;

    color: white;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: black;
}

#sec_mpro>h1{
    color: rgb(194, 194, 194);
    font-size: 3em;
    font-weight: 100;
} #sec_mpro>h1>strong{
    color: white;
    font-weight: 900;
}


@media (min-width:100px) and (max-width:600px){
    #name{
        font-size: 1.5em;
    }

    #my_skills{
        display: none;
    }

    main>:first-child{
        margin: 70px 0 50px 0;
    }

    #curriculo_menu{
        height: 50px;
        width: 50px;

        animation: curriculo 2s infinite;

    } #curriculo_menu>a{
        display: none;
    } #curriculo_menu>div{
        height: 15px;
        width: 15px;
    }

    #title_page1{
        font-size: 2rem;
    }

    #text_page1{
        font-size: 1rem;
    }

    #banner{
        opacity: 0.4;
    }

    #curriculo_menu>.content>section{
        flex-flow: row nowrap;
    }

    .hab {
        height: 120px;
        width: 90px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hab>.img{
        height: 90px;
        width: 90px;

        margin: 0px;

        background-size: cover;
    }

    .hab>.text{
        display: none;
    }

    #about_me>.content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #about_me>.content>#image_border{
        height: 300px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #about_me>.content>#image_border>#image{
        height: 300px;
        width: 300px;
    
        position: relative;
        top: 0%;
    
        background: url(../imgs/Group\ 1000015845.png) no-repeat center center;
        background-size: cover;
    }

    #text_page4{
        height: 100%;
        width: 80%;

        margin: 50px;
    
        display: flex;
        flex-flow: column;
    } #text_page4>p{
        margin: 30px 0;
    }

}

@media screen and (min-width: 700px){
    #ban_dad{
        width: 500px;
        left: 51%;
    }
}