@charset "UTF-8";

html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 150px;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
}

header>div{
    height: 50px;
    width: 50px;
    z-index: 0;

    margin: 20px 0px 0 40px;
}

#menu{
    position: absolute;
    top: 0%;
    left: 0%;
    background: url(../svgs/menu.svg) no-repeat center center;
    background-size: cover;
    z-index: 2;
}

#logo{
    height: 100px;
    width: 200px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background: black url(../imgs/uni.png) no-repeat center center;
    background-size: 200px 100px;
}

.opt{
    width: 100%;
    display: none;

    align-items: center;
    justify-content: center;

    font-size: 3em;
    font-weight: bolder;

    border: 2px solid rgba(0, 0, 0, 0.644);

    background-color: rgb(58, 224, 58);
}

.opt>a{
    text-decoration: none;
    color: rgb(17, 41, 6);
}

.opt:hover{
    background-color: green;
    color: greenyellow;
    transition: .3s;
}
.opt:hover>ul>li{
    background-color: green;
    color: greenyellow;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 10px 0 10px black,
    -10px 0 10px black;
    transition: .5s;
}

#menu_opt_1, #menu_opt_1>ul{
    height: 100%;
    left: 100%;
}


#ensino{
    position: relative;
    top: 0%;
    left: 0%;
    background: url(../svgs/menu.svg) no-repeat center center;
    background-size: cover;
}

#imgs{
    height: 400px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;

    background: black url(https://picsum.photos/1000/1000) no-repeat center center;
    background-size: cover;
}
#lbtn{
    position: relative;
    left: 0%;
}

#lbtn>h2, #dbtn>h2{
    transform: scaleY(6) scaleX(4);
    color: black;
}

#lbtn, #dbtn{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
}
#dbtn{
    position: relative;
    left: calc(100% - 100px);
}

#lbtn:hover>h2,#dbtn:hover>h2{
    color: green;
}