@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: aliceblue;
}

header{
    height: 200px;
    width: 100%;

    border-bottom: 20px solid green;
}

#menu1{
    margin-top: -10px;
    height: 200px;
}

#menu1{
    display: flex;
    justify-content: center;
}

.opt{
    height: 60px;
    margin: 10px 20px;
    padding: 20px;
}

.opt>a{
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
}

.opt:hover{
    background-color: rgba(123, 214, 37, 0.712);
    transition: 0.5s;
}

#myuni{
    height: 60px;
    margin: 10px 30px;
    padding: 20px;
    background-color: green;
}
#myuni>a{
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
}

#logo{
    position: absolute;
    top: 15%;
    left: 5%;
}

#logo>h1{
    color: rgb(84, 138, 4);
}

#search{
    position: absolute;
    top: 16%;
    left: 80%;
    height: 50px;
    width: 150px;
}
#search>h2{
    position: absolute;
    top: -10%;
    left: -60%;
}